:root {
    --dark-blue: #427ded;
    --med-blue: #98caff;
    --light-blue: #e5edfd;
}

html, body {
    height: 100%;
}

#__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* NAV BAR */

nav {
    background-color: var(--dark-blue);
}

.nav-link.active {
    color: white;
}